/* ======All Pages=======*/
* {
    align-content: center;
    margin: auto;
    padding: 3px; 
    flex: auto;
    background-color: rgb(218, 218, 218);
}

/* =======Body=========*/
body {
    text-align: center;
    background-color: antiquewhite;
}
.container {
    text-align: left;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.header {
    text-align: center;
    background-color: inherit;
    border: ridge;
}

/*========Buttons========*/
button {
    outline: auto;
    color: green;
}
.container button {
    width: 30%;
    column-width: auto;
    color: black;
}

/* =========Links============ */
a {
    color: #0000FF;
}

/*============Horizontal Line===*/
hr {
    color: silver;
    background-color: black;
}

/*=========Headline========*/
.headline {
    width: 60%;
    
}
/* =======Navigation=========*/
.nav-btns{
   display: flex;
    width: 100%;
    justify-content: space-between;

}

.nav-btns a{
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
    font-weight: bold;
}


/*========Icons=======*/
.btn-icons{
    display:flexbox;
    width: auto;
    height: 20px;
}










